*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.fon{
	background: url(fon.png);
	width: 100%;
	height: 182px;
}
.header{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.main-block{
	background: #fff;
	width: 65%;
	height: auto;
	margin: 21px 235px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px #041d01;
}
.header-img{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-image: url(fon.png);
	background-color: black;
	width: 100%;
	display: block;
	padding: 41px 24px 0 24px;
	height: 165px;

}
.nav{
	display: inline-block;
	font-size: 26px;
	padding: 25px 20px 25px 20px;
}
a.about{
	padding: 0 40px;
	text-decoration: none;

}
a.portfolio{
	padding: 0 40px;
	text-decoration: none;
	
}
a.contacts{
	padding: 0 40px;
	text-decoration: none;
	
}
p.delivery{
	margin-left: 300px;

	padding: 0 40px;
	text-decoration: none;

}
.block {
	margin: 0 17px;
}
.bar{
	float: left;
	margin: -6px 17px 0 -5px;
}
.bar a:hover{
	color: black;
}
.bar a{
	font-size: 14px;
	width: 191px;
	display: block;
	border-radius: 3px;
	margin: 6px 13px;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 3px 3px black;
}
.bar-1{
	border: 1px solid #1E90FF;
	background: #1E90FF;

}
.bar-2{
	border: 1px solid #FF8C00;
	background: #FF8C00;
}
.bar-3{
	border: 1px solid #008000;
	background: #008000;
}
.bar-4{
	border: 1px solid #FFFF00;
	background: #FFFF00	;
}
.bar-5{
	border: 1px solid  #4682B4;
	background:  #4682B4;
}
.bar-6{
	border: 1px solid #DC143C;
	background: #DC143C;
}
.bar-7{
	border: 1px solid  #9ACD32;
	background:  #9ACD32;
}
.bar-8{
	border: 1px solid  #FF4500;
	background:  #FF4500;
}
.bar-9{
	border: 1px solid  #FFD700;
	background:  #FFD700;
}
.about-me{
	background-image: url(fon.png);
	background-color: black;
	color: white;
	font-size: 12px;
	width: 195px;
	height: 200px;
	margin-left: 13px;
	border-radius: 10px;
}
.about-me>h2{
	text-align: center;
	text-decoration: underline;
}
.about-me>p{
	padding: 10px 0 0 4px;
}
.products {
	margin-left: 217px;
	text-decoration: none;
	text-align: center;
}
.central-el {
	margin: 0px 40px;
}
.product-link {
	text-decoration: none;
	display: inline-block;
}
a.product-link.bottom {
	margin: 30px 0;
}
.after{
	font-size: 18px;
	padding: 10px 0;
}
.footer{
	border: 2px solid black;
	background: black;
	width: 100%;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	height: 100px;
	text-align: center;
}
.line-footer{
	width: 100%;
	border: 3px solid blue;
	margin-top: 11px;
}
.link-footer{
	color: white;
	text-align: right;
	text-decoration: none;
	padding: 0 21px;
	margin: 37px 0;
}
.menu-links{
	margin-top: 16px;
	float: left;
	margin: 35px 0 0 250px;
}
.contacts{
	float: right;
	color: white;
	margin-right: 45px;
}
.contacts>p {
	color: #928f8f;
	text-align: left;
}
.contacts>a{
	margin: 10px;
	display: inline-block;
}