*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main{
	width: 1200px;
	height: 2145px;

}
.header{
	border-top: 6px solid #fa6900;
	width: 1199px;
	height: 465px;
	background-color: #69d2e7;
}
.company-logo-header{
	margin-top: 36px;
	margin-left: 100px;
}

.company-logo{
	width: 226px;
	height: 61px;
}
.logo-1{
	float: left;
}
.hello{
	margin: 0 auto;
	position: relative;
	width: 370px;
	top: 96px;
	text-align: center;
	color: #fff;

}
.hello>.hello-first{
	font-family: Arial Bold, sans-serif;
	font-weight: bold;
	font-size: 83.29px;
}
.hello>.hello-second{
	font-family: Arial Bold, sans-serif;
	font-weight: bold;
	font-size: 31.23px;
}
.company{
	position: relative;
	left: 10px;
	font-family: Arial Bold, sans-serif;
	font-size: 19.88px;
	font-weight: bold;
}
.tag{
	font-family: Arial Regular;
	font-size: 16.76px;
	position: relative;
	left: 10px;
}
.center-block{
	height: 533px;
	background-color: #f1f1f1;
}
.about-us{
	background-color: #fff;
	height: 285px;
	width: 834px;
	border-radius: 11px;
	position: relative;
	top: -100px;
	margin: 0 auto;
	text-align: left;
	padding: 0 30px 0 34px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.about-us-header{
	width: 155px;
	margin: 0 auto;
	font-size: 36px;
	text-align: center;
	padding: 47px 0 26px 0;

}
.line{
	width: 385px;
	border-bottom: 1px solid #d5d5d5;
	margin: 0 auto;
}
.about-us-text{
	padding: 36px 0 10px 0;
	font-size: 22px;
	font-family: Arial Regular, sant serif;
}
.block{
	display: inline-block;
	font-size: 24px;
	font-family: Arial Regular,sans-serif;
	width: 200px;
}
.center-img{
	text-align: center;
	margin-bottom: 22px;
}
.center{
	margin: 0 173px;
	display: inline-block;
}
.orange-block{
	text-align: right;
	height: 532px;
	background-color: #fa6900;
}
.orange-block-text-div{
	width: 430px;
	text-align: left;
	color:#fff;
	float: left;
	position: relative;
	top: 143px;
	left: 100px
}
.text-header{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 26px
}
.orange-text-header-two{
	font-family: Arial, sans-serif;
	font-size: 22px

}
.orange-text{
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.standart-text{
	margin:26px 0;
}
.info{
	height: 554px;
	background-color: #f1f1f1;
}
.info-left{
	margin-left: 100px;
	margin-top: 93px;
	float: left;
	width: 626px;
}
.info-text-one{
	width: 465px;
	margin-bottom: 40px;
	margin-top: 94px;
}
.info-text-two{
	width: 465px;
}
.info-right{
	padding-top: 93px;
}
.text-header-right{
	padding-bottom: 50px;
}
.info-img-header{
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 24px;
}
.info-img-text{
	font-family: Arial, sans-serif;
	font-size: 14px;

}
.info-img{
	float: left;
}
.post-block{
	margin-bottom: 30px;
}
footer{
	height: 68px;
	background-color: #69d2e7;
}
footer>span{
	margin-top: 28px;
	color: #fff;
	vertical-align: center;
	display: inline-block;
}
.terms-of-use{
	margin-left: 98px;
}
.copyright{
	margin-left: 545px;
}